code {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    border-radius: 10%;
}

pre{
    border-radius: 16px;
}

// .copy-btn {
//     position: absolute;
//     top: 0.5rem;
//     right: 1rem;
//     background: var(--btn-bg);
//     border: none;
//     padding: 0.25rem 0.6rem;
//     font-size: 0.8rem;
//     border-radius: 6px;
//     cursor: pointer;
// }

// .code-block-wrapper {
//     position: relative;
// }