.nav {
    &__container {
        padding: 12px;
        border-radius: 16px;
        width: 100%;
    }

    &-tabs {
        .nav-link {
            &.active {
                background-color: var(--bg-color);
                color: var(--text-color);
            }

            &:hover {
                // border-color: unset;
                // border: none;
                color: var(--text-color);
            }
        }
    }

    &-link {
        color: var(--text-color);

        &:hover {
            color: unset;
        }
    }
}