/* src/assets/fonts/PT_Serif.css */

@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    /* Adjust the path based on your project structure */
    src: local('PT Serif Regular'),
         url('./PT_Serif/PTSerif-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    /* Adjust the path based on your project structure */
    src: local('PT Serif Bold'),
         url('./PT_Serif/PTSerif-Bold.ttf') format('truetype');
  }
  