// Import Bootstrap core
@import "bootstrap/scss/bootstrap";
@import "../styles/bootstrap-overrides.scss";

// Themes
@import './themes/index';

// Component-specific styles
@import "./components/header.scss";
@import "./components/sidenav.scss";
@import "./components/login.scss";
@import"./components/button.scss";

// Fonts
@import './base/fonts.scss';

body {
  font-family: 'Inter', ;
  // background-color: var(--bg-color);
  // color: var(--text-color);
  // transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  // transition: all 0.3s ease;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
}

a {
  color: #007bff;
  text-decoration: none;
}

.apidoucmentation{
  background-color: var(--bg-color);
}

a:hover {
  text-decoration: underline;
}

code {
  font-family: 'Courier New', Courier, monospace;
  background: #f0f0f0;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 0.95em;
}

.appshell {
  height: 100%;
}

.custom-container {
  width: 95%;
  margin: auto;
}

button {
  font-weight: 500;
}

// .b-card,
// .b-button,
// .b-form-input,
// .b-form-group,
// .b-container,
// .b-row,
// .b-col {
//   background-color: var(--card-bg);
//   color: var(--text-color);
//   border-color: var(--border-color);
//   transition: all 0.3s ease;
// }