// Import Bootstrap core
@import "bootstrap/scss/bootstrap";
@import "../styles/bootstrap-overrides.scss";

// Themes
@import './themes/index';

// Component-specific styles
@import "./components/header.scss";
@import "./components/sidenav.scss";
@import "./components/login.scss";
@import"./components/button.scss";
@import "./components/ui-kit.scss";
@import "./components/input.scss";
@import "./components/codeBlock.scss";
@import "./components/docs.scss";
@import "./components/tabs.scss";

// Fonts
@import './base/fonts.scss';

body {
  font-family: 'Inter', ;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
}

a {
  color: #007bff;
  text-decoration: none;
}

.apidoucmentation {
  background-color: var(--bg-color);
  overflow: hidden;
  height: 100vh;
}

a:hover {
  text-decoration: underline;
}

.appshell {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.custom-container {
  width: 95%;
  margin: auto;
  overflow: hidden;

  .full-height-row {
    display: flex;
    flex: 1;
    overflow: hidden;

    >.col-md-3 {
      position: sticky;
      top: 0;
      height: 100vh;
      overflow-y: auto;
    }

    >.col-md-9 {
      overflow-y: auto;
      height: 100%;
    }

    >.col-md-12{
      overflow-y: auto;
      height: 100%;
    }
  }
}

::-webkit-scrollbar {
  display: none;
}

button {
  font-weight: 500;
}